n8n/workflow-2-daily-focus-email.json
{
  "name": "FocusFlow — Daily Focus Email",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 24, "triggerAtHour": 7 }] }
      },
      "name": "Every morning 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "operation": "getAll",
        "tableId": "daily_priorities",
        "filters": {
          "conditions": [
            { "keyName": "date", "condition": "eq", "keyValue": "={{ new Date().toISOString().slice(0,10) }}" }
          ]
        }
      },
      "name": "Fetch today's priorities",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "FocusFlow <hello@focusflow.app>",
        "toEmail": "={{$json.email}}",
        "subject": "Your top 3 for today",
        "html": "<h1>Your top 3 today</h1><ol><li>{{$json.priority_one.task_title}} — {{$json.priority_one.reason}}</li><li>{{$json.priority_two.task_title}} — {{$json.priority_two.reason}}</li><li>{{$json.priority_three.task_title}} — {{$json.priority_three.reason}}</li></ol><p><a href=\"https://focusflow.app/app/today\">Open dashboard</a></p>"
      },
      "name": "Send email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Every morning 07:00": { "main": [[{ "node": "Fetch today's priorities", "type": "main", "index": 0 }]] },
    "Fetch today's priorities": { "main": [[{ "node": "Send email", "type": "main", "index": 0 }]] }
  }
}
